@import url("https://fonts.cdnfonts.com/css/ranade");
@import "./excon.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behaviour: smooth;
}

body {
  font-family: "Excon-Variable";

  @apply bg-secondary-light text-primary !overflow-x-hidden;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  @apply px-4 xl:px-0 !max-w-[75rem] !mx-auto;
}

.btn-primary {
  @apply bg-primary text-secondary-light px-5 py-2 xl:px-10 xl:py-4 border-2 border-primary hover:bg-transparent hover:text-primary transition;
}

.btn-secondary {
  @apply bg-secondary text-white px-5 py-2 xl:px-10 xl:py-4 border-2 border-secondary hover:bg-transparent hover:text-secondary  transition;
}

button {
  @apply rounded-[0.625rem];
}

nav {
  transition: height 0.3s;
  @apply h-24;
}

h1,
h2,
h3,
button,
footer p,
footer h6 {
  font-family: "Ranade";
}

h1 {
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-6xl;
}

h2 {
  @apply text-xl md:text-2xl lg:text-3xl xl:text-5xl;
}

h3 {
  @apply text-lg md:text-xl lg:text-2xl xl:text-4xl;
}

#tutorial .owl-carousel .owl-stage-outer {
  overflow: visible !important;
}

#video-container {
  @apply hidden;
}

#video-check:checked + #video-container {
  @apply flex;
}

#drawer {
  @apply w-0 overflow-hidden duration-300 transition-[width] ease-linear;
}

#nav-check:checked ~ #drawer {
  @apply w-screen;
}

footer a:hover img {
  @apply fill-primary;
}
